*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Files with environment variables.
/composeApp/src/androidMain/keystore/
/composeApp/src/androidMain/key.properties
/composeApp/google-services.json
/composeApp/src/androidMain/google-services.json
key.properties
/composeApp/debug/
/composeApp/release/
